body {
    background-color #D3aD3D3 ;
    color: #dad885 ;
    font-family:Arial, sans-serif

}

header {
    background-color:#ACC8E5;
    color:#172C44;
    text-align:center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #172C44;
}

p {
    font-size: 18px;
    line-height:1.6;
}
